img{
width : 10%;
height : 10%
}

body{
background-color:#343A40;

}
h1{
color : #7952B3;
font-size : 4.5rem;
text-align:center;
font-family: 'Shippori Antique B1', sans-serif;
}
h2{
color: #FFC107;
font-size : 5rem;
text-align:center;
font-family: 'Estonia', cursive;
}
p{
padding-left:20px;
color : #E1E8EB;
font-size : 2rem;
text-align: left;
font-family: 'Montserrat', sans-serif;

}